parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/bootstrap.php
    excludePaths:
        - tests/Fixture
        - src/Controller/AppController.php
    ignoreErrors:
        -
            message: '#Strict comparison using === between .* and null will always evaluate to false#'
            path: src/JsonLogicEvaluator.php
